streamlit==1.45.0
pandas==2.3.0
numpy>=2.2.0,<2.3.0
langchain==0.3.26
langchain-community==0.3.26
langgraph==0.5.3
langchainhub==0.1.21
langchain-groq==0.3.4
sqlalchemy==1.4.26
aiosqlite==0.21.0
langchain-openai==0.3.26

SpeechRecognition
pyttsx3
pyperclip