streamlit==1.45.0
pandas==2.2.0
numpy>=2.2.0
langchain==0.3.26
langchain-community==0.3.26
langgraph==0.5.0
langchainhub==0.1.15
langchain-groq==0.1.4
sqlalchemy==2.0.29
aiosqlite==0.19.0
utils==1.0.2